<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.test.controller.mappers.UserMapper">

	<select id="idpwdCheck" parameterType="com.test.controller.UserDTO" resultType="com.test.controller.UserDTO">
	
		select * from tm_user
		where userID = #{userID} and userPassword = #{userPassword}
	</select>

	<select id="idDupCheck" parameterType="String" resultType="com.test.controller.UserDTO">
	
		select * from tm_user
		where userID = #{userID}
	</select>
	
	<insert id="userInsert" parameterType="com.test.controller.UserDTO">
		
		insert into tm_user values(
			
			#{userID}, #{userPassword}, #{userName}, #{userBirthDay}, 
			#{userGender}, #{userEmail}, #{userPhone}
		)
	</insert>
</mapper>